@page "/TipoTecnico/Delete/{id:int}"
@rendermode InteractiveServer
@inject TipoTecnicoService tipotecnicoService
@inject NavigationManager navigation

<PageTitle>Eliminar Tipo de T&eacute;cnico</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h3 class="bi bi-trash"> Eliminar Tipo de T&eacute;cnico</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">@tipoTecnico.TipoTecnicoId</dd>

                <dt class="col-sm-3">Descripción</dt>
                <dd class="col-sm-9">@tipoTecnico.Descripcion</dd>
            </dl>
            <button class="btn btn-danger bi bi-trash" @onclick="EliminarTipoTec"> Eliminar</button>
            <button class="btn btn-secondary bi bi-arrow-left" @onclick="Volver"> Volver</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    public TipoTecnico tipoTecnico = new TipoTecnico();

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
        {
            tipoTecnico = (await tipotecnicoService.Buscar(id));
        }

    }

    private async Task EliminarTipoTec()
    {
        var delete = await tipotecnicoService.Eliminar(tipoTecnico.TipoTecnicoId);
        if (delete)
        {
            Volver();
        }

    }

    private void Volver()
    {
        navigation.NavigateTo("/TipoTecnico/Index");
    }
}

